---
layout: page
title: Projects
---

<div class="posts">
  {% assign project_list = site.projects %}
  {% for project in site.projects %}
  <div class="post">
    <span>
      <h1 class="post-title">
        {{ project.title }}
      </h1>
      {% if project.github %}
      <a href="{{project.github}}"><i class="fa fa-git-square fa-fw fa-2x"></a>
      {% endif %}
      {% if project.link %}
      <a href="{{project.link}}"><i class="fa fa-code fa-fw fa-2x"></a>
      {% endif %}
      {% if project.attachment %}
      <a href="{{project.attachment}}"><i class="fa fa-file fa-fw fa-2x"></a>
      {% endif %}
    </span>
    <span class="post-date">{{ project.tagline }}</span>
    {{ project.content }}
  </div>
  {% endfor %}
</div>
